* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: lightblue;
}

h1 {
  background-color: gray;
  width: fit-content;
  padding: 5px 10px;
  margin: 5px;
}
button {
  padding: 5px 10px;
  margin: 5px;
}