@import "tailwindcss";

h1 {
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-transform: capitalize;
}