* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  background-color: darkcyan;
}

input, button {
  margin: 10px;
  padding: 8px 12px;
  font-size: 20px;
  border-radius: 9px;
  border: none;
}