.nav {
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    background-color: seagreen;
}

.btn {
    background-color: blue;
    color: white;
    padding: 5px;
    border: 1px solid black;
}