* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #3b3b3b;
}

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
    color: #fff;
    font-weight: 600;
} 

.nav h1 {
  color: #fff;
}

.nav-links button {
    background-color: #fff;
    color: #3b3b3b;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
}