* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
}

.box {
  height: 30px;
  width: 30px;
  background-color: gray;
}