* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #222;
  color: white;
}

.card {
  background-color: #eee5e5;
  border-radius: 20px;
  
}