* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  text-decoration: underline;
  text-align: center;
  transform: translate(-50%, -50%);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(5, 77, 77);
  padding: 10px;
}

.navbar div {
    display: flex;
    align-items: center;
    gap: 40px;
}