* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: darkslategrey;
    color: #fff;
}

.light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: lightseagreen;
    color: #fff;
}

.nav2 {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav2 h4 {
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}